RewriteEngine on
RewriteRule ^inicio$                            index.php?c=pagina
RewriteRule ^get-events$                        index.php?c=pagina&a=getEvents
RewriteRule ^galeria$                           index.php?c=pagina&a=gallery
RewriteRule ^cerrar-sesion$                     index.php?c=user&a=close
RewriteRule ^dashboard$                         index.php?c=user&a=dashboard
RewriteRule ^login$                             index.php?c=user&a=login
RewriteRule ^valid-email$                       index.php?c=user&a=valid
RewriteRule ^update-user$                       index.php?c=user&a=update
RewriteRule ^admin$                             index.php?c=user
RewriteRule ^banner$                            index.php?c=banner
RewriteRule ^update-banner$                     index.php?c=banner&a=update
RewriteRule ^eventos$                           index.php?c=pagina&a=fullEvents
RewriteRule ^admin-eventos$                     index.php?c=eventos
RewriteRule ^admin-eventos&msn=(.*)$            index.php?c=eventos&msn=$1
RewriteRule ^admin-blog$                        index.php?c=blog
RewriteRule ^admin-blog&msn=(.*)$               index.php?c=blog&msn=$1
RewriteRule ^update-blog$                       index.php?c=blog&a=update
RewriteRule ^actualizar-blog&token=(.*)$        index.php?c=blog&a=updateData&token=$1
RewriteRule ^delete-blog&token=(.*)$            index.php?c=blog&a=delete&token=$1
RewriteRule ^blog$                              index.php?c=pagina&a=fullBlogs
RewriteRule ^crear-blog$                        index.php?c=blog&a=createForm
RewriteRule ^crear-evento$                      index.php?c=eventos&a=createEvents
RewriteRule ^eliminar-evento&token=(.*)$        index.php?c=eventos&a=delete&token=$1
RewriteRule ^actualizar-evento$                 index.php?c=eventos&a=updateData
RewriteRule ^actualizar-evento&token=(.*)$      index.php?c=eventos&a=update&token=$1
RewriteRule ^discografia$                       index.php?c=discografia
RewriteRule ^crear-discografia$                 index.php?c=discografia&a=create
RewriteRule ^discografia&msn=(.*)$              index.php?c=discografia&msn=$1
RewriteRule ^blog&token=(.*)$                   index.php?c=pagina&a=readBlog&token=$1
RewriteRule ^eventos&token=(.*)$                index.php?c=pagina&a=readEvent&token=$1
RewriteRule ^admin-galeria$                     index.php?c=galeria
RewriteRule ^admin-galeria&msn=(.*)$            index.php?c=galeria&msn=$1
RewriteRule ^contacto$                          index.php?c=contactame
RewriteRule ^update-contacto$                   index.php?c=contactame&a=update
RewriteRule ^mi-perfil$                         index.php?c=perfil
RewriteRule ^update-perfil$                     index.php?c=perfil&a=update
RewriteRule ^update-blog$                       index.php?c=pagina&a=updateReadsInBlogs

php_value upload_max_filesize 6400M
php_value post_max_size 6400M
php_value max_execution_time 300
php_value max_input_time 300
