/*RESET*/
:root{
    --size: 16px;
    --family-robotoC: 'Roboto Condensed', sans-serif;
    --family-roboto: 'Roboto', sans-serif;
    --family-lato: 'Lato', sans-serif;
    --bg-dark: #1b223f;
    --bg-normal: #202a4e;
    --bg-light: #37426f;
    --bg-accent: #3498db;
    --bg-dark-accent: #2980b9;
    box-sizing: border-box;
    font-size: var(--size);
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, a:focus, a:active, a:hover{
    text-decoration: none;
}

ul, ol{
    list-style: none;
    margin-bottom: 0;
}

img{
    max-width: 100%;
}

input, input:focus, input:active, input:hover, 
button, button:focus, button:active, button:hover,
textarea, textarea:focus, textarea:active, textarea:hover
{
    outline: 0;
    border: none;
    background-color: rgba(0,0,0,.2);    
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

/* SCROLL */

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2);
}

::-webkit-scrollbar-track {
  background: rgba(60,60,60,.2);
}
/*------- HEADER --------*/
.header-container{
    width: 100%;
    height: 100vh;
    background-image: url(../img/Recursos/slide/Slide.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header--navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
}

.navbar-container{
    width: 100%;
    display: none;
}

.header--icon{
    display: flex;
    align-items: center;
}

.image--icon{
    width: 32px;
}

.header--text{
    color: #ffffff;
    padding: 16px;
}

.header--text__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header--text__title, .header--text__subtitle{
    font-family: var(--family-lato);
    font-weight: 300;
}

.header--text__title{
    text-transform: uppercase;
    font-size: 65px;
    padding-bottom: 20px;
    line-height: 1;
}

.header--text__subtitle{
    padding-left: 8px;
    font-size: 18px;
}

.header--button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: var(--family-lato);
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: #ffffff;
    color: #6c6c6c;
    margin-left: auto;
    margin-right: auto;
    line-height: 3;
    padding-top: 3px;
    padding-bottom: 3px;
}

.button--image{
    height: 30px;
    padding-left: 15px;
}


.img--logo{
    width: 100%;
}

.player-container{
    width: 100%;
    padding: 20px 16px;
    color: #ffffff;
    background-color: rgba(0,0,0,.6);
}
/*------- TWITTER --------*/
.twitter-container{
    height: 400px;
    background-image: url('../img/Recursos/background/BgParallax-twitter.jpg');
    background-size: cover;
}

.twitter--body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 16px 100px;
}

.twitter--name, .twitter--text, .twitter--date{
    font-family: var(--family-lato);
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.twitter--icon{
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 25px;
}

.twitter--name{
    display: block;
    font-size: 22px;
    color: #00c2d9;
}

.twitter--text{
    display: block;
    padding-top: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.twitter--date{
    display: block;
    padding-top: 30px; 
}

.carousel-indicators{
    margin-bottom: 15px;
}

.carousel-indicators .active{
    background-color: #00c2d9;
}
/*------- INFINITO --------*/
.infinito-container{
    background-color: #eaeaea;
    padding: 16px;
}

.infinito--header, .about-me--header, .blog--header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.infinito--subtitle{
    font-family: var(--family-lato);
    font-size: 16px;
    color: #141414;
    padding-top: 20px;
    font-weight: 300;
}

.infinito--title, .about-me--title,.blog--title{
    font-family: var(--family-lato);
    font-size: 50px;
    color: #141414;
    padding-top: 20px;
    font-weight: 300;
    line-height: 0.3;
    text-transform: uppercase;
    font-weight: 300;
}
/*------- ABOUT ME --------*/
.about-me--container{
    background-image: url('../img/Recursos/background/BgAbout.jpg');
    background-size: cover;
}

.about-me--header{
    padding-bottom: 30px;
}

.about-me--image{
    width: 100%;
}

.about--img{
    width: 100%;
}

.about-me--title{
    line-height: 1;
    color: #929292;
}

.about-me-body{
    padding: 16px;
    color: #f3f3f3;
}

.about-me--principal{
    width: 100%;
    border: 10px solid #ed2b45;
    padding: 20px 30px;
    margin-top: 15px;
}

.about-me--text{
    font-family: var(--family-robotoC);
    font-size: 22px;
    padding-bottom: 20px;
}

.about-me--name{
    color: #ed2b45;
}

.about-me--section{
    width: 100%;
}

.about-me--paragraph{
    font-family: var(--family-lato);
    font-size: 16px;
    padding-top: 20px;
    text-align: justify-all;
}

/*BLOG*/

.blog--title{
    line-height: 1;
    color: #141414;
}


@media (max-width: 575px) {
    .header--logo{
        width: 50%;
    }

    .header--button{
        padding-left: 30px;
        padding-right: 30px;
    }

    .button--image{
        height: 20px;
    }

    .twitter--body{
        padding-top: 20px;
        padding-bottom: 90px;
    }

    .twitter--text{
        padding-top: 20px;
    }

    .carousel-indicators{
        margin-top: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header--text__title{
        font-size: 85px;
    }

    .header--text__subtitle{
        font-size: 18px;
    }

    .header--button{
        padding-left: 30px;
        padding-right: 30px;
    }

    .twitter--body{
        padding-top: 40px;
        padding-bottom: 90px;
    }

    .twitter--text{
        padding-top: 20px;
    }

    .carousel-indicators{
        margin-top: 30px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .header--navbar{
        padding: 30px 30px 0;
    }

    .header--text__title{
        font-size: 15vw;
        font-weight: 100;
        line-height: 0.8;
    }

    .header--text__subtitle{
        padding-left: 14px;
        font-size: 18px;
    }

    .header--button{
        margin-right: 0;
    }

    .header--text__container{
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }

    .header--button{
        width: 60%;
        margin-left: auto;
        margin-right: 10px;
    }

    .twitter--text{
        font-size: 20px;
    }

    .about-me-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .about-me--image{
        padding-left: 25px;
        padding-top: 10px;
        width: 50%;
    }
    
    .about-me--principal{
        position: relative;
        left: -25px;
        width: 50%;
        padding: 40px;
        padding-left: 50px;
    }

    .about-me--text{
        font-size: 24px;
    }

    .about-me--section{
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header--navbar{
        padding: 30px 30px 0;
    }

    .header--text__title{
        font-size: 15vw;
        font-weight: 100;
    }

    .header--text__subtitle{
        padding-left: 14px;
        font-size: 18px;
        font-weight: 100;
    }

    .header--button{
        margin-right: 0;
    }

    .header--text__container{
        margin-right: auto;
        width: 70%;
    }

    .header--button{
        width: 55%;
        margin-left: auto;
        margin-right: 10px;
    }
    
    .header--icon{
        display: none;
    }

    .navbar-container{
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: center;
    }

    .navbar--contain{
        width: 100%;
    }
    
    .navbar--items{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar--item{
        
    }

    .navbar--link{
        font-family: var(--family-lato);
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        padding-bottom: 3px;
    }

    .navbar--link:hover{
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    .twitter--text{
        font-size: 20px;
    }

    .twitter--body{
        padding-bottom: 70px;
    }

    .about-me-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .about-me--image{
        padding-left: 25px;
        padding-top: 10px;
        width: 50%;
    }
    
    .about-me--principal{
        position: relative;
        left: -25px;
        width: 50%;
        padding: 40px;
        padding-left: 50px;
    }

    .about-me--section{
        width: 100%;
    }

    .about-me--text{
        font-size: 30px;
    }

}

@media (min-width: 1200px) {
    .header--navbar{
        padding: 30px 50px 0;
    }

    .header--text__title{
        font-size: 12vw;
        font-weight: 100;
        line-height: 0.8;
    }

    .header--text__subtitle{
        padding-left: 20px;
        font-size: 22px;
        font-weight: 100;
    }

    .header--button{
        margin-right: 0;
    }

    .header--text__container{
        /*margin-left: auto;*/
        margin-right: auto;
        width: 70%;
    }

    .header--button{
        width: 42%;
        margin-left: auto;
        margin-right: 10px;
    }

    .header--icon{
        display: none;
    }

    .navbar-container{
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: center;
    }

    .navbar--contain{
        width: 100%;
    }
    
    .navbar--items{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar--item{
        
    }

    .navbar--link{
        font-family: var(--family-lato);
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        padding-bottom: 3px;
    }

    .navbar--link:hover{
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    .twitter--text{
        font-size: 20px;
    }

    .about-me-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        padding-right: 40px;
        padding-left: 40px; 
    }

    .about-me--image{
        padding: 0;
        width: 70%;
    }

    .about-me--text{
        font-size: 29px;
    }
    
    .about-me--principal{
        position: relative;
        left: -50px;
        top: 70px;
        width: 40%;
        padding: 25px;
        padding-left: 60px;
        padding-right: 30px;
        margin-bottom: 40px;
    }

    .about-me--section{
        width: 50%;
    }

    .about-me--paragraph{
        padding: 0;
    }
}
