/* RESET */
:root{
    --size: 16px;
    --family-robotoC: 'Roboto Condensed', sans-serif;
    --family-roboto: 'Roboto', sans-serif;
    --family-lato: 'Lato', sans-serif;
    --bg-dark: #6D1420;
    --bg-normal: #ED2B45;
    --bg-black: #040404;
    --bg-accent: #ed2b45;
    box-sizing: border-box;
    font-size: var(--size);
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, a:focus, a:active, a:hover{
    text-decoration: none;
    outline: 0;
}

ul, ol{
    list-style: none;
    margin-bottom: 0;
}

img{
    max-width: 100%;
}

/*input, input:focus, input:active, input:hover, button, button:focus, button:active, button:hover{
    outline: 0;
    border: 0;
}*/

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* SCROLL */

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.4);
}

::-webkit-scrollbar-track {
  background: rgba(30,30,30,.3);
}

.container-fluid{
    padding: 0;
}

.container--dashboard{
    background-color: #eaeaea;
    width: 100%;
    min-height: 100vh;
}


.dashboard--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-black);
}

.navbar-container{
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.navbar-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-image{
    width: 130px;
}

.navbar-link{
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    font-family: var(--family-lato);
    font-weight: 700;
}

.navbar-link:hover{
    color: var(--bg-accent);
}

.settings-title{
    font-size: 18px;
    font-family: var(--family-lato);
    color: #ffffff;
    padding-right: 15px;
}

.banner--container{
    margin-top: 20px;
}

.banner-item{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 5px;
}