/* RESET */
:root{
    --size: 16px;
    --family-primary: 'Roboto Condensed', sans-serif;
    --family-secondary: 'Roboto', sans-serif;
    --family-tertiary: 'Lato', sans-serif;
    --bg-dark: #1b223f;
    --bg-normal: #202a4e;
    --bg-light: #37426f;
    --bg-accent: #3498db;
    --bg-dark-accent: #2980b9;
    box-sizing: border-box;
    font-size: var(--size);
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, a:focus, a:active, a:hover{
    text-decoration: none;
}

input, input:focus, input:active, input:hover, button, button:focus, button:active, button:hover{
    outline: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* SCROLL */

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.4);
}

::-webkit-scrollbar-track {
  background: rgba(30,30,30,.3);
}

.menu{
    background-color: rgba(27, 34, 63, .9);
    padding: 0;
}

.bar-settings{
    background-color: var(--bg-light);
    display: flex;
    justify-content: flex-end;
}

.settings-container{
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.settings--title{
    color: #ffffff;
    font-size: var(--size);
}

.settings--icon{
    color: #ffffff;
}

.menu-container{
    width: calc(16% + 9px);
    max-width: calc(16% + 9px);
    height: 100vh;
    position: fixed;
}

.menu--item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu--link{
    display: block;
    width: 100%;
    padding: 8px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-family: var(--family-secondary);
}

.menu--icon{
    display: block;
    font-size: calc(var(--size) * 2);
    padding-bottom: 5px;
}

.active{
    background-color: var(--bg-dark-accent);
}

.menu--item:hover:not(.active){
    background-color: var(--bg-accent);
}

.first--item:hover{
    background-color: var(--bg-normal) !important;
}

.menu--item:hover .menu--link{
    color: #ffffff;
}

.menu--item:first-child{
    padding: 30px 0;
    background-color: var(--bg-normal);
}

.menu--img{
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
