/* RESET */
:root{
    --size: 16px;
    --family-primary: 'Roboto Condensed', sans-serif;
    --family-secondary: 'Roboto', sans-serif;
    --family-tertiary: 'Lato', sans-serif;
    --bg-dark: #6D1420;
    --bg-normal: #ED2B45;
    --bg-black: #040404;
    --bg-accent: #ed2b45;
    box-sizing: border-box;
    font-size: var(--size);
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, a:focus, a:active, a:hover{
    text-decoration: none;
}

/*input, input:focus, input:active, input:hover, button, button:focus, button:active, button:hover{
    outline: 0;
    border: 0;
}*/

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* SCROLL */

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.4);
}

::-webkit-scrollbar-track {
  background: rgba(30,30,30,.3);
}

.container--dashboard{
    background-color: var(--bg-black);
    width: 100%;
    min-height: 100vh;
}
